:root {
  --primary-color-green: #28a745; /* blue */
  --primary-color-light-blue: #66bfff; /* light blue */
  --primary-color-dark-blue: #3b99e0; /* dark blue */
  --color-grey: #e0e0e0;
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

.form-container {
  position: fixed;
  width: 100%;
  max-width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-sign-up {
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: center;
  margin-bottom: 1rem;
}
.form-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.form-item {
  display: flex;
  width: 100%;
}
.form-item a {
  text-decoration: none;
  color: var(--primary-color-dark-blue);
}
.form-item strong {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-white);
  padding: 0.3rem;
  padding-left: 0.313rem;
  padding-right: 0.313rem;
  background-color: var(--primary-color-dark-blue);
  border-radius: 0.313rem;
}
.form-item input {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-grey);
  outline: none;
}
.form-item input:focus {
  box-shadow: 0 0 2px 1px var(--primary-color-light-blue);
}

.form-item button {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  width: 100%;
}

.agree-wrapper {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30%;
  font-weight: bold;
}

.register {
  background-color: var(--primary-color-dark-blue);
}

.sign-in {
  background-color: var(--primary-color-green);
}

@media (max-width: 800px) {
  .form-row {
    flex-direction: column;
  }
}
